<% @page_title = "Notifications settings" %>

<% content_for :header do %>
  <nav class="align-start">
    <%= link_to_back fallback_path: notifications_path %>

    <h1 class="txt-x-large"><%= @page_title %></h1>

    <div class="btn btn--placeholder flex-item-justify-end"></div>
  </nav>
<% end %>

<section class="panel center flex flex-column gap-half margin-block">
  <%= render partial: "notifications/settings/bucket", collection: @buckets, locals: { user: Current.user } %>
</section>
