<section id="closed-cards" class="cards cards--closed pad-block">
  <% if page.used? %>
    <%= render partial: "cards/display/public_preview", collection: page.records, as: :card, cached: true %>

    <% unless page.last? %>
      <div class="full-width">
        <%= public_collection_cards_next_page_link collection, "closed-cards", fetch_on_visible: true, page: page %>
      </div>
    <% end %>
  <% else %>
    <p class="txt-medium translucent">Nothing here</p>
  <% end %>
</section>
