<%= turbo_frame_tag @bubble, :assignment do %>
  <dialog class="popup panel flex-column align-start gap-half fill-white shadow" data-dialog-target="dialog">
    <strong class="popup__title margin-block-start-half pad-inline-half txt-nowrap">Assign this to…</strong>

    <div class="flex flex-column full-width popup__list">
      <% @bubble.bucket.users.active.alphabetically.each do |user| %>
        <div class="btn popup__item">
          <%= button_to user.name, bubble_assignments_path(@bubble, params: { assignee_id: user.id }), method: :post %>
          <%= icon_tag "check", size: 18, class: "checked flex-item-justify-end" if @bubble.assignees.include?(user) %>
        </div>
      <% end %>
    </div>
  </dialog>
<% end %>
