service: fizzy
image: basecamp/fizzy

servers:
  jobs:
    cmd: bin/jobs

volumes:
  - fizzy:/rails/storage

proxy:
  ssl: true

registry:
  username: bcbot
  password:
    - BASECAMP_REGISTRY_PASSWORD

builder:
  arch: amd64
  secrets:
    - GITHUB_TOKEN

env:
  secret:
    - SECRET_KEY_BASE

aliases:
  console: app exec -i --reuse "bin/rails console"
  shell: app exec --interactive --reuse "bash"
  logs: app logs -f
