<section id="closed-cards" class="cards cards--closed pad-block">
  <%= render "cards/index/closure_filter", filter: filter %>

  <% if page.used? %>
    <%= render partial: "cards/display/preview", collection: page.records, as: :card, cached: true %>

    <% unless page.last? %>
      <div class="full-width">
        <%= cards_next_page_link "closed-cards", page: page, filter: filter, fetch_on_visible: true %>
      </div>
    <% end %>
  <% else %>
    <p class="txt-medium translucent">Nothing here</p>
  <% end %>
</section>
