<div class="card__collection flex align-start">
  <span class="card__id"><%= card.id %></span>
  <%= link_to card.collection.name, cards_path(collection_ids: [ card.collection ]),
        class: "card__collection-name overflow-ellipsis" %>
  <%= yield %>
</div>