<%= access_involvement_advance_button collection, Current.user %>

<%= link_to edit_collection_path(collection), class: "btn tooltip" do %>
  <%= icon_tag "settings" %>
  <span class="for-screen-reader">Settings for <%= collection.name %></span>
<% end %>
