@layer mobile_app {
  .header:is(
    :not(:has(.header__actions)),
    :not(:has(.header__actions--end)):has(.header__actions--start .btn--back:only-child)
  ) {
    display: none;
  }

  .header__actions {
    .btn--back {
      display: none;
    }
  }
}
