<div class="filter align-center gap-half" data-controller="dialog" data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside">
  <button class="btn btn--plain filter__button" data-action="click->dialog#toggle" data-dialog-modal-value="true">
    <%= bucket.name %>
  </button>

  <dialog class="filter__popup panel fill-white shadow" data-dialog-target="dialog">
    <menu class="filter__menu unpad margin-none">
      <% Current.user.buckets.order(:name).each do |bucket| %>
        <li><%= link_to bucket.name, bucket_bubbles_path(bucket, view_filter_params), class: "filter__button" %></li>
      <% end %>
    </menu>
  </dialog>
</div>
